body {
    height: 100%;
    width: 800px;
    margin: 10px auto;
    background: url("images/desert2.jpeg");
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Caveat Brush', cursive;
    animation: fadein 1.5s;
}

@keyframes fadein { /* Cool! */
    from {opacity: 0; color: rgb(49, 214, 255); }
    to {opacity: 1; color: white; }
}

a {
    height: 70px;
    width: 150px;
    display: block;
    margin: 150px auto;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: lime;
}

.restart {
    margin: 10px auto;
}

button {
    margin: auto 20px;
    width: 100px;
    color: white;
    font-size: 14px;
}

#active {
    background-color: lime;
}

#invalid {
    background-color: rgb(145, 0, 0)
}

h1 {
    font-family: 'Caveat Brush', cursive;
    font-size: 250%;
}

.counter {
    height: 50px;
    width: 100px;
    margin-bottom: 5px;
}

.gamecontainer {
    height: 400px;
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    padding: 5px;  
}
.column {
    width: 250px;
    height: 100%;
    margin: auto;
    display: flex; /* Good use of flex */
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: 1px dashed green;
}

.block { /* Good use of a shared class to keep css DRY */
    height: 70px;
    background-color: rgb(204,163,0);
    border: 1px solid black;
    background-image: url("images/dark-brick-wall.png");
}

.column:hover {
    border: 1px dashed lime;
}

.block1 {
    width: 50px;
}

.block2 {
    width: 100px;
}

.block3 {
    width: 150px;
}

.block4 {
    width: 200px;
}

.block5 {
    width: 250px;
}

footer {
    color: blue;
    text-align: right;
}

.gametype {
    display: inline-block
}

/* Typically with css, you want to target your elements first, then classes, then ids */
/* Great job on the CSS! */
/* You have good classnames and made good use of flex */
/* One big thing to add would be the use of media-queries to make things render better for smaller page sizes */